@import url(../css/font-awesome.min.css);
@import url(../css/font-awesome.min.css);
* { box-sizing: border-box; }

body { margin: 0px; padding: 0px; font-family: "Roboto-Light"; background-color: white; height: 100%; line-height: 1; position: relative; font-size: 16px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

ul { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: "Roboto-Light"; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #a7d2db; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; }

a:hover { text-decoration: underline; }

a, span, div, button { outline: none; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/*select addition*/
select { -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari and Chrome */ appearance: none; }

/*including fonawesome icons*/
/* cyrillic-ext */
@font-face { font-family: 'Roboto Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2") format("woff2"); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face { font-family: 'Roboto Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2") format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face { font-family: 'Roboto Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2") format("woff2"); unicode-range: U+1F00-1FFF; }

/* greek */
@font-face { font-family: 'Roboto Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2") format("woff2"); unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face { font-family: 'Roboto-Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2") format("woff2"); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face { font-family: 'Roboto-Light'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2") format("woff2"); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 300; src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2") format("woff2"); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2") format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2") format("woff2"); unicode-range: U+1F00-1FFF; }

/* greek */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2") format("woff2"); unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2") format("woff2"); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face { font-family: 'Roboto Medium'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2") format("woff2"); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face { font-family: 'Roboto Medium'; font-style: normal; font-weight: 400; src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face { font-family: 'Roboto-Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2") format("woff2"); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face { font-family: 'Roboto Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2") format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face { font-family: 'Roboto Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2") format("woff2"); unicode-range: U+1F00-1FFF; }

/* greek */
@font-face { font-family: 'Roboto-Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2") format("woff2"); unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face { font-family: 'Roboto-Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2") format("woff2"); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2") format("woff2"); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face { font-family: 'Roboto-Medium'; font-style: normal; font-weight: 500; src: local("Roboto Medium"), local("Roboto-Medium"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2") format("woff2"); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face { font-family: 'Roboto-Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2") format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face { font-family: 'Roboto-Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2") format("woff2"); unicode-range: U+1F00-1FFF; }

/* greek */
@font-face { font-family: 'Roboto-Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2") format("woff2"); unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face { font-family: 'Roboto-Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2") format("woff2"); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face { font-family: 'Roboto Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2") format("woff2"); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face { font-family: 'Roboto Bold'; font-style: normal; font-weight: 700; src: local("Roboto Bold"), local("Roboto-Bold"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* */
/* font settings */
p { font-size: 11px; line-height: 100%; color: #555555; font-family: Roboto, cursive, AdobeInvisFont, MyriadPro-Regular; font-weight: 400; }

h1 { font-size: 30px; line-height: 100%; color: black; font-family: Roboto, cursive, AdobeInvisFont, MyriadPro-Regular; font-family: Roboto-Bold; padding: 15px 0; }

h2 { font-size: 17px; line-height: 100%; color: black; font-family: Roboto, cursive, AdobeInvisFont, MyriadPro-Regular; font-family: Roboto-Bold; padding: 15px 0; }

h3 { font-size: 16px; line-height: 100%; color: white; font-family: Roboto, cursive, AdobeInvisFont, MyriadPro-Regular; font-family: Roboto-Bold; padding: 15px 0; }

/*grid settings*/
/*
================================================================================
|                              GRID                                  |
================================================================================
*/
.container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: auto; padding: 0 91px; max-width: 1280px; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }

.grid-responsive { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-flex-direction: row; }

.grid-responsive .grid-responsive__column__col-1 { -webkit-box-ordinal-group: 1 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 12 100%; -ms-flex: 13 12 100%; flex: 13 12 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-2 { -webkit-box-ordinal-group: 2 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 11 100%; -ms-flex: 13 11 100%; flex: 13 11 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-3 { -webkit-box-ordinal-group: 3 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 10 100%; -ms-flex: 13 10 100%; flex: 13 10 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-4 { -webkit-box-ordinal-group: 4 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 9 100%; -ms-flex: 13 9 100%; flex: 13 9 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-5 { -webkit-box-ordinal-group: 5 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 8 100%; -ms-flex: 13 8 100%; flex: 13 8 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-6 { -webkit-box-ordinal-group: 6 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 7 100%; -ms-flex: 13 7 100%; flex: 13 7 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-7 { -webkit-box-ordinal-group: 7 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 6 100%; -ms-flex: 13 6 100%; flex: 13 6 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-8 { -webkit-box-ordinal-group: 8 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 5 100%; -ms-flex: 13 5 100%; flex: 13 5 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-9 { -webkit-box-ordinal-group: 9 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 4 100%; -ms-flex: 13 4 100%; flex: 13 4 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-10 { -webkit-box-ordinal-group: 10 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 3 100%; -ms-flex: 13 3 100%; flex: 13 3 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-11 { -webkit-box-ordinal-group: 11 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 2 100%; -ms-flex: 13 2 100%; flex: 13 2 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-12 { -webkit-box-ordinal-group: 12 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 1 100%; -ms-flex: 13 1 100%; flex: 13 1 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__column__col-13 { -webkit-box-ordinal-group: 13 / 13; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; width: 100%; -webkit-box-flex: 13; -webkit-flex: 13 0 100%; -ms-flex: 13 0 100%; flex: 13 0 100%; text-align: center; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.grid-responsive .grid-responsive__row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer { background: #1c1c1c; }

footer .table { background: none; width: 100%; }

.after { color: #7e7e7e; font-weight: bold; font-family: Roboto-Bold; text-align: left; line-height: 30px; }

.after a { color: #7e7e7e; }

.copyright { font-family: Roboto-Light; color: #2e2e2e; margin: 170px 0  48px 0; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
/*variables*/
* { box-sizing: border-box; }

body { background: white; }

i[class*="fa"]::before { padding-right: 5px; font-family: "FontAwesome"; color: #464646; font-style: normal; font-size: 29px; line-height: 30px; float: left; }

i[class*="fa"] { font-size: 19px; font-family: Roboto-Light; line-height: 25px; font-weight: 100; color: #7e7e7e; float: left; text-align: left; padding-left: 0; font-style: normal; }

.menu { display: inline-block; }

.navigation { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; flex-direction: column; -webkit-flex-direction: column; }

nav > ul > li { display: block; float: left; }

nav > ul { float: right; }

.ourvalues { background: #a7d2db; }

.ourvalues::after { display: block; width: 100px; height: 100px; position: absolute; content: ''; }

.table { background: #fdfdfd url("../img/plain.png") no-repeat center fixed; background-size: cover; }

.table .table_heading { margin: 90px auto 0; font-size: 27px; width: auto; font-family: 'Roboto-Light'; font-weight: 100; letter-spacing: 18px; text-transform: uppercase; color: #5f5f5f; display: table; }

.table .table_heading::after { content: '|'; color: inherit; display: block; width: 100%; text-align: center; margin: 23px 0; padding: 0 0 0 15px; font-size: 30px; font-weight: 100; font-style: normal; font-family: Roboto-Light; }

.table .table_heading__title { width: auto; font-family: 'Roboto-Bold'; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; color: #5f5f5f; display: table; font-size: 44px; margin: auto; }

.table .table_heading__title::after { display: block; content: ''; width: 0; height: 0; border-style: solid; border-width: 15px 15px 0 15px; margin: 25px auto 140px; border-color: #a7d2db transparent transparent transparent; }

.more { margin: 100px auto; color: #5f5f5f; width: auto; background: #c4e5ec; border: none; padding: 22px 52px; font-family: Roboto-Bold; }

.more:hover { background: #5f5f5f; color: white; }

/*
================================================================================
|                                    TOP MENU                             |
================================================================================
*/
.menu-list__first { margin: 50px 0; font-size: 10px; }

.menu-list__first .menu-item__lang a { color: #a7d2db; }

.menu-list__first li a { margin: 0 20px; text-transform: uppercase; font-family: Roboto-Bold; color: #5f5f5f; }

.menu-list__first li a:active, .menu-list__first li a:focus, .menu-list__first li a:hover { color: #a7d2db; text-decoration: underline; }

.menu-list__second li:last-child a { border: none !important; }

.menu-list__second li a { float: left; padding: 0 40px; text-transform: uppercase; font-family: Roboto; font-size: 16px; color: #5f5f5f; border-right: 2px solid #dadada; display: block; width: auto; height: auto; }

.menu-list__second li a:active, .menu-list__second li a:focus, .menu-list__second li a:hover { color: #a7d2db; }

/*
================================================================================
|                                   flights                          |
================================================================================
*/
.flights { margin-bottom: 120px; }

.flights .flight-text .flight-text_info { line-height: 30px; }

.flights .flights-header { margin: 130px 0 73px; font-size: 74px; color: #5f5f5f; font-weight: 900; width: 100%; text-align: center; }

.pretext { text-align: left; font-family: "Roboto"; color: #555555; line-height: 30px; }

.pretext a { float: right; text-decoration: underline; }

.article { margin: 130px auto; }

.value-article__text { padding: 20px 30px; margin: auto; -webkit-writing-mode: horizontal-tb; -ms-writing-mode: lr-tb; writing-mode: horizontal-tb; text-align: left; font-size: 13px; }

.value-number { -ms-writing-mode: sideways-lr; writing-mode: sideways-lr; -webkit-writing-mode: sideways-lr; color: white; position: absolute; }

.value-number::before { content: ' ______'; margin-top: 10px; }

.value-heading { font-size: 14px; font-family: Roboto-Bold; font-weight: 900; position: absolute; margin-left: 30px; }

/*
================================================================================
|                                 table                         |
================================================================================
*/
.grid-responsive__cell { width: 100%; text-align: left; padding: 34px 0 0 36px; font-size: 11px; font-family: Roboto; color: #5f5f5f; font-weight: 900; border-right: 1px solid #5f5f5f; }

.grid-responsive__cell h5 { font-size: 14px; }

.table [class*="grid-responsive__column"] { margin-top: 0px; }

.grid-responsive__row__heading { border-bottom: 1px solid grey; border-right: 1px solid grey; }

.grid-responsive__row__heading .grid-responsive__cell { border-right: none; padding: 34px 0 50px 40px; }

/*# sourceMappingURL=style.css.map */
