/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

/*styling arrows*/

.slick-arrow{
  display: inline-block;
  height: 39px;
  width: 39px;
  margin: 5px;
  background: #f1f1f1;
  color: transparent;
  border: 0;
  @include border-radius(50%);
}






.slick-prev{
background: url('../img/slide-arrow_left.png') no-repeat center #f1f1f1;
}
.slick-next{
	background:url('../img/slider-arrow_right.png') no-repeat center #f1f1f1;order:2; -webkit-order:2;-ms-flex-order:2;
}

.slick-dots{
display:inline-flex;
@include flex-direction(row);
align-items: stretch;
li {

list-style-type: none;border:none;color:transparent;

button{    display: inline-block;
    margin: 12px 13px 22px 12px;
    background: #cccccc;
    padding: 2px 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    box-shadow: none;
    color: transparent;
&:hover{background:#e44256;}
}
}

}
li.slick-active button{background:#e44256;}
